---
layout: home
author_profile: true
classes: wide
feature_row:
  - image_path: https://source.unsplash.com/FKZwWLWgGyM/1600x900
    alt: "Topology Guides"
    title: "Visit my other site, Topology Guides"
    excerpt: "Guides on topology and 3d modeling methods for 3d creators"
    url: "https://topologyguides.com/"
    btn_label: "Visit Topology Guides"
    btn_class: "btn--inverse"
feature_row2:
  - image_path: https://static1.squarespace.com/static/57d2b8ab3e00be654dfbf84d/t/580e24cf2e69cf7b57c8ad9a/1477321966620/oceanic+whitetip+shark+2-2.png
    alt: "Digital Life 3D"
    title: "The Digital Life 3D project"
    excerpt: "See my work in data-driven recontruction and and 3d model creation with *Digital Life* and *UMass Amherst*"
    url: "http://digitallife3d.org/"
    btn_label: "Visit Digital Life"
    btn_class: "btn--inverse"
feature_row3:
  - image_path: https://source.unsplash.com/FKZwWLWgGyM/1600x900
    alt: "Campus Vision"
    title: "CampusVision: An open source digital signage solution for academic institutions"
    excerpt: "CampusVison is a digital signage Management solution designed to run on minimal hardware to maximize deployment options to devices such as micro-computers, raspberry pis, smart TVs, and other display devices."
    url: "https://github.com/JohnsonLM/CampusVision"
    btn_label: "Visit the CampusVision project"
    btn_class: "btn--inverse"
---
{% include feature_row type="right" %}
{% include feature_row id="feature_row2" type="left" %}
{% include feature_row id="feature_row3" type="right" %}
<a rel="me" href="https://mastodon.social/@johnsonlm"></a>
