.project {
	mix-blend-mode: normal;
	border-radius: 8px;
	opacity: 1;
	height: 100%;
	background: var(--card-color);
	border: 1px solid var(--border-color);
}

.project a {
	text-decoration: none;
}

.project:hover {
	background: var(--hover-background);
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.project:hover .project-link {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

.project-container {
	display: flex;
	flex-direction: column;
	min-height: 210px;
	padding: 24px;
}

.project-logo {
	width: 30px;
}

.project-logo img {
	width: 100%;
}

.project-title {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 16px;
	padding-top: 15px;
	margin-bottom: 1em;
	font-weight: 700;
}

.project-description {
	color: var(--secondary-color);
	line-height: 1.55;
}

.project-link {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
	margin-top: auto;
}

.project-link-icon {
	width: 14px;
	height: 14px;
	flex: 0 0 auto;
}

.project-link-text {
	font-weight: 700;
}

@media (max-width: 600px) {
	.project {
		height: 100%;
	}
}
